<%= render @article %>
<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>
<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Show comments...
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <h2>Comments</h2>
    <%= render @article.comments %>
    <h2> Add a comment: </h2>
    <%= render 'comments/form' %>
  </div>
</div>
